[submodule "lampa"]
	path = lampa
	url = https://github.com/dhvcc/lampa.git
	branch = lampa-stack
	update = merge
[submodule "torrserver"]
	path = torrserver
	url = https://github.com/dhvcc/torrserver.git
	branch = lampa-stack
	update = merge
